@import '../../rules/scss/variables.scss';
@import '../../rules/scss/mixins.scss';

#nav,
#navLanding {
	& .wrapper {
		width: 200px;
		background-color: $themeBlack_domBackgroundOther;

		border-radius: $borderRadius;
		// overflow: hidden;

		& .quick {
			padding: 0 $padding * 2;
			padding-top: $padding * 2;

			&, & .elem {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			& .elem {
				& .quickItem + .quickItem {
					margin-left: $margin;
				}

				& .quickItem {
					position: relative;
					&[data-new] {
						&:before {
							position: absolute;
	
							display: block;
							content: "";
	
							width: 8px;
							height: 8px;
	
							background-color: #f34f4f;
							border-radius: 50%;
	
							bottom: 2px;
							right: 2px;
	
							transition: $transition;
						}
					}

					& .notifyModal {
						bottom: auto;
						right: auto;

						left: calc(100% + 20px);
						top: -2.5px;
					}
					& .friendsModal {
						bottom: auto;
						right: auto;

						left: calc(100% + 20px);
						top: -2.5px;
					}

					&:after {
						position: absolute;

						display: block;
						content: "";

						width: 20px;
						height: 100%;

						background-color: transparent;

						left: 100%;
						top: 0;
					}
				}
			}
		}

		& .account {
			padding: 0 $padding * 4;
			padding-top: $padding * 2;

			position: relative;

			& .image {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;

				& a {
					width: 100%;
					text-align: center;
					flex-wrap: nowrap;

					margin-top: 10px;
					font-size: $fontsize + 2px;

					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}

#navLanding {
	& .quick {
		& .quickItem {
			& .btn {
				background-color: $themeBlack_background;
				width: 30px;
				height: 30px;
			}
		}
	}

	& .account {
		& .image {
			& section {
				width: 70px;
				height: 70px;

				border-radius: 50%;
				background-color: $themeBlack_background;
			}
		}
		& .username {
			display: block;

			width: 80%;
			height: 20px;

			border-radius: $borderRadius * 4;
			background-color: $themeBlack_background;

			margin: 0 auto;
			
		}
	}

	& .team {
		& .leave {
			& .btn {
				width: 100px;
				height: 20px;
			}
		}
	}

	& .menu {
		& .item {
			&.selected {
				& div, & h1 {
					background-color: $themeBlack_btn;
				}
			}

			& div {
				width: 22px;
				height: 22px;

				background-color: $themeBlack_background;
				border-radius: $borderRadius;
			}
			& h1 {
				width: 90px;
				height: 18px;

				background-color: $themeBlack_background;
				border-radius: $borderRadius;
			}
		}
	}
}